[Unit]
Description=Service B
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/administrator/group-seven-devops
ExecStart=/usr/bin/python3 /home/administrator/group-seven-devops/services/service_b.py
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target