[Unit]
Description=Service A
After=network.target
Wants=service-b.service service-c.service
After=service-b.service service-c.service

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/devops-lab/group-seven-devops
ExecStart=/usr/bin/python3 /home/ubuntu/devops-lab/group-seven-devops/services/service_a.py
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target